In [46]:
import pandas as pd
import numpy as np

In [77]:
m33 = np.arange(9).reshape(3, 3)

In [93]:
ds = pd.Series([10, 20, 30, 40], [0, 1, 1, 2])
ds

0    10
1    20
1    30
2    40
dtype: int64

In [96]:
type(ds[0])

numpy.int64

In [82]:
ds1 = pd.Series([1,3], index=["a","c"])
ds2 = pd.Series([2,3], index=["a","c"])

print(ds1+ds2)

a    3
c    6
dtype: int64

In [83]:
s = pd.Series([1, 2, 3], name='xxx')

In [88]:
df = pd.DataFrame({'yyy': s})
df

   yyy
0    1
1    2
2    3

In [89]:
s[0] = 666
s

0    666
1      2
2      3
Name: xxx, dtype: int64

In [90]:
df

   yyy
0    1
1    2
2    3

In [92]:
df['yyy'][1]

2